venv
.env
*.session
*.session-journal
*.db
*.pyc
__pycache__/
config.yml

web/dist/*

.DS_Store

static/*
recyclebin/*
data/*
export/*
tagger/model/*
server/static/css/style.css
server/static/css/style.min.css
server/internal/service/web/dist/*
repopack-output*.txt
SCRATCH.md