aiohttp
aiosignal
appnope
asttokens
attrs
comm
cryptg
debugpy
decorator
executing
frozenlist
hachoir
idna
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
multidict
nest-asyncio
packaging
parso
pexpect
pillow
platformdirs
pre-commit
prompt_toolkit
psutil
ptyprocess
pure-eval
pyaes
pyasn1
pydantic_settings
Pygments
python-dateutil
python-dotenv
python-telegram
pyzmq
rsa
six
sqlmodel
stack-data
telegram_text
Telethon
tornado
traitlets
typing_extensions
wcwidth
yarl
