
.imageFit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}


.videoFit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}


.mediaCard {
    position: relative;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}
