@tailwind base;
@tailwind components;
@tailwind utilities;


.media-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
    gap: 1rem;
}

.media-gallery img,

.media-gallery video {
    width: 100%;
    height: auto;
    object-fit: cover;
}