@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-neutral-800 dark:bg-slate-800 dark:text-gray-200 caret-transparent;
  }
}

@layer components {
  .main-container {
    @apply max-w-[90%] mx-auto;
  }
  .media-gallery {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4;
  }

  .media-item {
    @apply bg-white dark:bg-slate-700 rounded-lg overflow-hidden shadow-md relative transition-transform hover:scale-[1.02];
  }

  .media-item img,
  .media-item video {
    @apply w-full object-contain aspect-square;
  }

  .media-info {
    @apply p-4;
  }

  .media-title {
    @apply text-lg font-semibold mb-2 dark:text-dark-text;
  }

  .media-meta {
    @apply text-sm text-neutral-600 dark:text-neutral-400;
  }

  .media-type,
  .media-channel,
  .media-date,
  .media-text {
    @apply hidden;
  }

  .media-item-content {
    @apply cursor-pointer;
  }


  .fullscreen-content .media-item-content {
    @apply cursor-default;
  }

  .what {
    @apply bg-white;
  }

  .fullscreen-view {
    @apply fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50;
  }

  .fullscreen-content {
    @apply max-w-[90vh] max-h-[90vh] overflow-auto bg-white dark:bg-slate-700 rounded-lg flex justify-center items-center;
  }

  .fullscreen-content img,
  .fullscreen-content video {
    @apply max-w-full max-h-[80vh] object-contain;
  }

  .fullscreen-content .download-button {
    @apply hidden;
  }

  .pagination {
    @apply flex justify-center space-x-2 mt-4;
  }

  .pagination a {
    @apply px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors;
  }

  .pagination span {
    @apply px-4 py-2;
  }

  .favorite {
    @apply shadow-lg shadow-blue-200 border-2 border-blue-400;
  }

  .modal {
    @apply z-[101] bg-black absolute inset-0 h-full w-full;
  }

  .modal .active {
    @apply opacity-100 visible transition-opacity duration-500;
  }

  #context-menu .context-item {
    @apply p-2 py-1 text-sm text-gray-200;
  }

  #context-menu .context-item:hover {
    @apply bg-[#343434];
  }

}

/* TODO: Write custom Tailwind class */
#context-menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border: 1px solid #ccc;
  border-radius: 5px;
  transform: scale(1, 0);
  transform-origin: top left;
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
}

#context-menu.visible {
  transform: scale(1,1);
  opacity: 1;
  transition: transform 0.1s, opacity 0.1s ease-in;
}
