package templates

templ Index(email string, contents templ.Component ) {
    <div id="media-index">
        <h1>Welcome {email}</h1>
        @contents
    </div>
}

templ IndexEmpty() {
    <div id="media-index"></div>
}


templ GuestIndex(contents templ.Component) {
    <div id="media-index">
        <h1>Welcome guest</h1>
        @contents
    </div>
}
