package templates

import (
    "goth/internal/models"
    "fmt"
)


templ Tags(tags []models.TagWeight) {
	<div class="media-gallery">
		for _, tag := range tags {
			<div>{tag.Name} ({fmt.Sprintf("%.2f", tag.Weight)})</div>
		}
	</div>
}

templ TagsDatalist(tags []models.Tag) {
	<datalist id="tags">
		for _, tag := range tags {
			<option value={tag.Name}></option>
		}
	</datalist>
}